// X-LARGE DEVICES [XL]
@media all and (min-width: 1200px) {

}

// LARGE DEVICES [L]
@media all and (min-width: 993px) and (max-width: 1999px) {

}

// MEDIUM DEVICES [MD]
@media all and (min-width: 769px) and (max-width: 992px) {

}

// SMALL DEVICES [SM]
@media all and (min-width: 577px) and (max-width: 768px) {
        .ProcessRow {
            margin-left: 9%;
            margin-right: 9%;
            margin-top: 5%;

            h3 {
                color: white;
                font-weight: 700;
            }
            p {
                color: white;
            }
            .Icon {
                color: white;
                margin-bottom: 3%;
                margin-top: 20%;
            }
        }
    }


// XS DEVICES [-]
@media all and (max-width: 576px) {


        .ProcessRow {
            margin-left: 9%;
            margin-right: 9%;

            h3 {
                color: white;
                font-weight: 700;
            }
            p {
                color: white;
            }
            .Icon {
                color: white;
                margin-bottom: 3%;
                margin-top: 5%;
            }
        }
    }
