.Footer {
    background-color: #314F40;
    display: flex;
    justify-content: center;
    align-items: center;

    .row {
        .FooterInstagram {
            color: white;

            a {
                color: #314F40;
                background-color: #BFBFBF;
                text-decoration: none;
            }
        }
    }
}